.content{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.itemOnitem{
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
	border-radius: 5px;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 100px;
}


.item:hover{
	transition: .2s all;
	cursor: pointer;
	box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
	transform: scale(1.05);
}
.item img{
	width: 400px;
	height: 400px;
}


.item_titleOnitem{
	color: black;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}
.item_priceOnitem{
	color:black;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}
.item_descOnitem{
	color:black;
	font-size: 18px;
	text-decoration: none;
	}

.itemPage {
    display: flex;
    flex-wrap: wrap;
}

.itemPage-footer{
    display: flex;
    flex-basis: 100%;
}
.itemPage-content{
	padding-left: 10px;
}
.logintext{
	color: black;
	padding-left: 10px;
}