.itemFilters-wrapper{
	display: flex;
	margin: 0 auto;
	padding: 20px;
	width: 100%;

}
.boxname{
	font-size: 16px;
	margin-bottom: 10px;
	color: #b79090;
	text-align: center;

}

a{
	text-decoration: none;
}

.category-wrapper{
	padding: 25px;
}

body {
	margin: 0;
	}

	

	.content{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.item{
		box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
		border-radius: 5px;
		text-align: center;
		width: 400px;
		border-radius: 5px;
		margin-bottom: 100px;
	}


	.item:hover{
		transition: .2s all;
		cursor: pointer;
		box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
	}

	.item img{
		width: 400px;
		height: 400px;
	}

	.item_title{
		color: gray;
		font-size: 18px;
		text-decoration: none;
	}
	.item_price{
		color:black;
		font-size: 18px;
		text-decoration: none;
	}